<!-- Toggle buttons demo -->
<div ng-controller="ButtonsCtrl">
    <h4>Single toggle</h4>
    <pre>{{singleModel}}</pre>
    <button type="button" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
        Single Toggle
    </button>
    <h4>Checkbox</h4>
    <pre>{{checkModel}}</pre>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-model="checkModel.left" btn-checkbox>Left</button>
        <button type="button" class="btn btn-primary" ng-model="checkModel.middle" btn-checkbox>Middle</button>
        <button type="button" class="btn btn-primary" ng-model="checkModel.right" btn-checkbox>Right</button>
    </div>
    <h4>Radio</h4>
    <pre>{{radioModel}}</pre>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'">Left</button>
        <button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'">Middle</button>
        <button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'Right'">Right</button>
    </div>
</div>

<!-- Alert demo -->
<!--<div ng-controller="AlertDemoCtrl">-->
    <!--<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>-->
    <!--<button class='btn btn-default' ng-click="addAlert()">Add Alert</button>-->
<!--</div>-->

<!-- Accordion demo -->
<!--<div ng-controller="AccordionDemoCtrl">-->
    <!--<label class="checkbox">-->
        <!--<input type="checkbox" ng-model="oneAtATime">-->
        <!--Open only one at a time-->
    <!--</label>-->

    <!--<accordion close-others="oneAtATime">-->
        <!--<accordion-group heading="Static Header, initially expanded" is-open="true">-->
            <!--This content is straight in the template.-->
        <!--</accordion-group>-->
        <!--<accordion-group heading="{{group.title}}" ng-repeat="group in groups">-->
            <!--{{group.content}}-->
        <!--</accordion-group>-->
        <!--<accordion-group heading="Dynamic Body Content">-->
            <!--<p>The body of the accordion group grows to fit the contents</p>-->
            <!--<button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>-->
            <!--<div ng-repeat="item in items">{{item}}</div>-->
        <!--</accordion-group>-->
        <!--<accordion-group is-open="isopen">-->
            <!--<accordion-heading>-->
                <!--I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>-->
            <!--</accordion-heading>-->
            <!--This is just some content to illustrate fancy headings.-->
        <!--</accordion-group>-->
    <!--</accordion>-->
<!--</div>-->

<!-- Accordion demo -->
<!--<div ng-controller="CarouselDemoCtrl">-->
    <!--<div style="height: 305px">-->
        <!--<carousel interval="myInterval">-->
            <!--<slide ng-repeat="slide in slides" active="slide.active">-->
                <!--<img ng-src="{{slide.image}}" style="margin:auto;">-->
                <!--<div class="carousel-caption">-->
                    <!--<h4>Slide {{$index}}</h4>-->
                    <!--<p>{{slide.text}}</p>-->
                <!--</div>-->
            <!--</slide>-->
        <!--</carousel>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col-md-6">-->
            <!--<a class="btn btn-info" ng-click="addSlide()">Add Slide</a>-->
        <!--</div>-->
        <!--<div class="col-md-6">-->
            <!--Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">-->
            <!--<br />Enter a negative number to stop the interval.-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="jumbotron">
  <h1>Non-Trivial AngularJS Made Easy</h1>

  <p class="lead">
    Everything you need to kickstart AngularJS projects: a best-practice
    directory structure, an intelligent build system, and the best web design
    libraries around.
  </p>

  <ul class="inline social-buttons">
    <li>
      <iframe 
        src="http://ghbtns.com/github-btn.html?user=joshdmiller&amp;repo=ng-boilerplate&amp;type=watch&amp;count=true" 
        allowtransparency="true" 
        frameborder="0" 
        scrolling="0" 
        width="110" 
        height="20">
      </iframe>
    </li>
    <li>
      <iframe 
        src="http://ghbtns.com/github-btn.html?user=joshdmiller&amp;repo=ng-boilerplate&amp;type=fork&amp;count=true" 
        allowtransparency="true" 
        frameborder="0" 
        scrolling="0" 
        width="95" 
        height="20">
      </iframe>
    </li>
    <li>
       <iframe allowtransparency="true" frameborder="0" scrolling="no"
        src="https://platform.twitter.com/widgets/tweet_button.html?url=http%3A%2F%2Fbit.ly%2FngBoilerplate&counturl=http%3A%2F%2Fjoshdmiller.github.com%2Fng-boilerplate&text=Check%20out%20ng-boilerplate%20-%20an%20awesome%20kickstarter%20for%20web%20projects%20%7C&hashtags=angularjs&via=joshdmiller&related=joshdmiller"
        style="width:130px; height:20px;"></iframe>
    </li>
    <li plus-one></li>
  </ul> 
  
  <div class="btn-group">
    <a href="https://github.com/joshdmiller/ng-boilerplate#readme" class="btn btn-large">
      <i class="icon-book"></i>
      Read the Docs
    </a>
    <a href="https://github.com/joshdmiller/ng-boilerplate" class="btn btn-large btn-success">
      <i class="icon-download"></i>
      Download
    </a>
  </div>

</div>

<div class="marketing">
  <div class="row">
    <div class="span4">
      <h4><i class="icon-thumbs-up"></i> Good to Go!</h4>
      <p>
        Kickstarts your project quickly, with everything you need, so you can 
        focus on what matters: your app.
      </p>
    </div>
    <div class="span4">
      <h4><i class="icon-magic"></i> Complete Build System</h4>
      <p>
        A smart, <a href="http://gruntjs.com">Grunt</a>-based build system 
        designed to save you time and energy.
      </p>
    </div>
    <div class="span4">
      <h4><i class="icon-retweet"></i> Modularization</h4>
      <p>
        Supports a structure that maintains separation of concerns while
        ensuring maximum code reuse.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <h4><i class="icon-star"></i> AngularJS</h4>
      <p>
        JavaScript framework that augments browser-based, single-page 
        applications with MVC functionality.
        <a href="http://angularjs.org">More &raquo;</a>
      </p>
    </div>
    <div class="span4">
      <h4><i class="icon-resize-small"></i> LESS CSS</h4>
      <p>
        The dynamic stylesheet language that extends CSS with efficiency.
        <a href="http://lesscss.org">More &raquo;</a>
      </p>
    </div>
    <div class="span4">
      <h4><i class="icon-twitter"></i> Twitter Bootstrap</h4>
      <p>
        Sleek, intuitive, and powerful front-end framework for faster and easier
        web development.
        <a href="http://getbootstrap.com">More &raquo;</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <h4><i class="icon-circle"></i> Angular UI Bootstrap</h4>
      <p>
        Pure AngularJS components for Bootstrap written by the 
        <a href="https://github.com/angular-ui?tab=members">AngularUI Team</a>.
        <a href="http://angular-ui.github.com/bootstrap">More &raquo;</a>
      </p>
    </div>
    <div class="span4">
      <h4><i class="icon-flag"></i> Font Awesome</h4>
      <p>
        The iconic font designed for use with Twitter Bootstrap.
        <a href="http://fortawesome.github.com/Font-Awesome">
          More &raquo;
        </a>
      </p>
    </div>
    <div class="span4">
      <h4><i class="icon-asterisk"></i> Placeholders</h4>
      <p>
        Client-side image and text placeholder directives written in pure 
        AngularJS to make designing mock-ups wicked-fast.
        <a href="http://joshdmiller.github.com/angular-placeholders">
          More &raquo;
        </a>
      </p>
    </div>
  </div>
</div>

